<a href="https://colab.research.google.com/github/sseyler0119/Data-Science-Projects/blob/master/Text_Mining_Feature_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
textMining = pd.read_csv('https://raw.githubusercontent.com/sseyler0119/datasets/master/trainTweets.csv')
textMining.head()

   id  label                                              tweet
0   5      0            Factsguide: Society now    #motivation
1  18      1                             Retweet if you agree!
2   8      0  the next school year is the year for exams.ð...
3   9      0  we won!!! love the land!!! #allin #cavs #champ...
4  10      0   @user @user welcome here !  i'm   it's so #gr...

In [3]:
# Add a column 'word_count' and apply a function that counts how many words are in the column 'tweet'
textMining['word_count'] = textMining['tweet'].apply(lambda x: len(str(x).split(" ")))
# print the first 5 rows
textMining[['tweet', 'word_count']].head()

                                               tweet  word_count
0            Factsguide: Society now    #motivation            9
1                             Retweet if you agree!            5
2  the next school year is the year for exams.ð...          23
3  we won!!! love the land!!! #allin #cavs #champ...          13
4   @user @user welcome here !  i'm   it's so #gr...          15

In [4]:
# count the number of characters
textMining['char_count'] = textMining['tweet'].str.len() # this will also account white space
textMining[['tweet', 'char_count']].head()

                                               tweet  char_count
0            Factsguide: Society now    #motivation           40
1                             Retweet if you agree!           22
2  the next school year is the year for exams.ð...         143
3  we won!!! love the land!!! #allin #cavs #champ...          87
4   @user @user welcome here !  i'm   it's so #gr...          50

In [5]:
# get the number of special characters used
textMining['hashtags'] = textMining['tweet'].apply(lambda x: len([x for x in x.split()
                                                    if x.startswith('#')]))
textMining[['tweet', 'hashtags']].head()

                                               tweet  hashtags
0            Factsguide: Society now    #motivation          1
1                             Retweet if you agree!          0
2  the next school year is the year for exams.ð...         7
3  we won!!! love the land!!! #allin #cavs #champ...         5
4   @user @user welcome here !  i'm   it's so #gr...         1

In [6]:
# convert all of the text into lowercase
textMining['tweet'] = textMining['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
textMining['tweet'].head()

0                  factsguide: society now #motivation
1                                retweet if you agree!
2    the next school year is the year for exams.ð...
3    we won!!! love the land!!! #allin #cavs #champ...
4        @user @user welcome here ! i'm it's so #gr8 !
Name: tweet, dtype: object

In [8]:
# remove punctuation
textMining['tweet'] = textMining['tweet'].str.replace('[^\w\s]', '', regex=True) # add regex=True to remove warning
textMining['tweet'].head()

0                    factsguide society now motivation
1                                 retweet if you agree
2    the next school year is the year for examsð ca...
3    we won love the land allin cavs champions clev...
4               user user welcome here  im its so gr8
Name: tweet, dtype: object