<a href="https://colab.research.google.com/github/sseyler0119/Data-Science-Projects/blob/master/Univariate_Analysis_Tests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy import stats

Import Iris Dataset

In [3]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',
                 names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])

df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
setosa = df[df['class'] == 'Iris-setosa']
setosa.reset_index(inplace=True) # reset index so it starts at 0

setosa.head()

   index  sepal_length  sepal_width  petal_length  petal_width        class
0      0           5.1          3.5           1.4          0.2  Iris-setosa
1      1           4.9          3.0           1.4          0.2  Iris-setosa
2      2           4.7          3.2           1.3          0.2  Iris-setosa
3      3           4.6          3.1           1.5          0.2  Iris-setosa
4      4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
versicolor = df[df['class'] == 'Iris-versicolor']
versicolor.reset_index(inplace=True)

versicolor.head()

,index,sepal_length,sepal_width,petal_length,petal_width,class
0,50,7.0,3.2,4.7,1.4,Iris-versicolor
1,51,6.4,3.2,4.5,1.5,Iris-versicolor
2,52,6.9,3.1,4.9,1.5,Iris-versicolor
3,53,5.5,2.3,4.0,1.3,Iris-versicolor
4,54,6.5,2.8,4.6,1.5,Iris-versicolor

In [6]:
stats.ttest_ind(setosa['sepal_width'], versicolor['sepal_width']) #hypothesis test, # p-value is very small, near 0, so we reject the null hypothesis

Ttest_indResult(statistic=9.282772555558111, pvalue=4.362239016010214e-15)

Perform one-way ANOVA

In [7]:
stats.f_oneway(df['sepal_width'][df['class'] == 'Iris-setosa'],
               df['sepal_width'][df['class'] == 'Iris-versicolor'],
               df['sepal_width'][df['class'] == 'Iris-virginica']) # we reject the null-hypothesis b/c the p-value is near 0, at least one of the sepal_widths must be different than the other classes

F_onewayResult(statistic=47.36446140299382, pvalue=1.3279165184572242e-16)